@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default scrollbar width */
::-webkit-scrollbar {
  width: 4px; /* Vertical scrollbar width */
  height: 2px; /* Horizontal scrollbar height */
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;

}

/* Handle for vertical scrollbars */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, hsla(48, 80%, 66%, 1) 0%, hsla(0, 100%, 25%, 1) 100%);
  border-radius: 6px; /* Optional: for rounded corners */
}

/* Handle for horizontal scrollbars */
::-webkit-scrollbar:horizontal {
  height: 5px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, hsla(48, 80%, 66%, 1) 0%, hsla(0, 100%, 25%, 1) 100%);
  border-radius: 6px; /* Optional: for rounded corners */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for other browsers */
.hide-scrollbar {
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}




/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Make the font to poppins */
.ant-btn, .ant-form-item-label > label, .ant-typography, .ant-menu, .ant-input-placeholder.ant-dropdown, .ant-modal, .ant-table, .ant-popconfirm, .ant-card, .ant-message-notice-content, .ant-notification-notice-content, .ant-select, .ant-option, .ant-picker, .ant-tooltip {
  font-family: 'Poppins', sans-serif !important;
}


.styled-checkbox-group .ant-checkbox-inner {
  border-color: #4d90fe; /* Change border color */
  border-radius: 4px; /* Make the corners rounded */
  border-width: 2px; /* Make the border thicker */
}

.styled-checkbox-group .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4d90fe; /* Change background color when checked */
  border-color: #4d90fe; /* Change border color when checked */
}

.styled-checkbox-group .ant-checkbox-checked::after {
  border: 1px solid #fff; /* Change checkmark color to white */
  top: 0px; /* Adjust checkmark position */
  left: 4px; /* Adjust checkmark position */
}

.styled-checkbox-group .ant-checkbox-group-item {
  margin-right: 15px; /* Add some space between checkboxes */
  font-size: 15px; /* Increase font size */
}

.styled-checkbox-group .ant-checkbox:hover .ant-checkbox-inner,
.styled-checkbox-group .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #4d90fe; /* Change border color on hover/focus */
}


